
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-6 offset-md-3">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Deixe em branco se não quiser alterá-la",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Precisamos de sua senha atual para confirmar suas alterações",
                required: true,
                input_html: { autocomplete: "current-password" } %>  
    
    <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
  
<h3>Cancelar minha conta</h3>

<p>Unhappy? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
