
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs col-md-6 offset-md-3">
    <h2>Cadastre-se</h2>

    <% if can? :manage, User %>
      <%= f.input :admin %>
    <% end %>
    <%= f.input :email,
              required: true,
              autofocus: true ,
              input_html: { autocomplete: "email" } %>
    <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>
              
    <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block' %>
  <div>  
<% end %>

<%= render "devise/shared/links" %>
