<div class = 'jumbotron'>
  <h1><i class="fas fa-gift"></i> Toys'R'Them</h1>
  <p> Seus malvados favoritos estão lhe esperando...</p>
  <%= link_to 'Minions', produtos_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>

<div class = 'row'>
  <%= render @produtos %>
</div>