
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs col-md-3 offset-md-4">
    <h2>Login</h2>    
    <%= f.input :email, label: false, wrapper: :vertical_input_group do %>
      <%= input_group_addon_icon :user %>
      <%= f.input :email,
                  label: false,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: 'email',
                  class: 'form-control' %>
    <% end %>
    <%= f.input :password, label: false, wrapper: :vertical_input_group do %>
      <%= input_group_addon_icon :lock %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  placeholder: 'senha',
                  class: 'form-control' %>
    <% end %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, 'Login' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

