
<div class="row">

  <div class="col-md-8">

    <%= simple_form_for @produto, html: { multipart: true } do |f| %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
        <div class="grupo-entrada">
          <%= f.input :nome, required: true, label: false, placeholder: 'Nome', wrapper: false, input_html: { class: "campo" } %>
        </div>

        <div class="grupo-entrada">
          <%= f.input :descricao, required: true, label: false, wrapper: false, placeholder: 'Descrição do produto' %>
        </div>
        
        <div class="grupo-entrada">
          <%= f.input :preco, required: true, label: false, wrapper: false, placeholder: 'Valor em centavos' %>
        </div>

        <div class="grupo-entrada">    
          <%= f.input :disponibilidade %>
        </div>

        <div class="form-group">
          <div class="grupo-entrada">
            <%= f.input :image, as: :file, input_html: { class: "form-control produto-image"}, label: false, wrapper: false %>
            <span class="file-cta">
              <span class="file-icon"><i class="fa fa-upload"></i></span>
              <span class="file-label">Escolha um arquivo</span>
            </span>
          </div>
          <output id="list"></output>
        </div>
        
        <div style="text-align: center; margin-top: 40px">
          <%= f.button :submit, input_html: {class: "btn btn-primary btn-block"} %>
        </div>
    <% end %>
  </div>
</div>
