<h1>Editar Produto</h1>

<div class="produtos">
  <%= render 'form', produto: @produto %>
</div>

<div class="row" style="padding: 10px;">
  <% if can? :update, Produto %>
    <div class="col-md-1">
      <%= link_to 'Exibir', @produto, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-1">
      <%= link_to 'Voltar', produtos_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
