<div class="card-columns">
  <%@produtos.each do |produto| %>
      <div class="card text-center bg-light mb-3">
        <div class="card-body">
            <%= link_to image_tag(produto.image_url(:thumb)), produto, html_input: {class: 'card-img-top img-thumbnail'} %>
            <div class="card-title">
              <%= link_to produto.nome, produto_path(produto), html_input: {class: 'card-title'} %>
            </div> 
            <div class="card-text">
              Teste
            </div>
        </div>
      </div>
  <% end %>
</div>

<div class="row" style="padding: 10px;">
  <% if can? :create, Produto %>
      <%= link_to 'Novo Produto', new_produto_path, class: 'btn btn-primary' %>
  <% end %>
</div>