
<h1>Novo Produto</h1>

<div class="produtos">
  <%= render 'form', produto: @produto %>
</div>

<div class="row" style="padding: 10px;">
  <%= link_to 'Back', produtos_path, class: 'btn btn-primary' %>
</div>
