<div class="container">
  <div class="row">
    <div class="col-md-6">
        <%= image_tag(@produto.image_url(:default)) %>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-center" style="padding: 10px;">
        <div class="card bg-light">        
          <div class="card-body text-center">
            <h3 class="card-title"><%= @produto.nome %></h3>
            <p class="card-text"><%= @produto.descricao %></p>
            <p class="text-right"><%= number_to_currency(@produto.preco) %></p>
            <%= button_to  "Adicionar à reserva", line_item_path(produto_id: @produto), class: 'btn btn-primary btn-block' %>
          <div>        
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding: 10px;">
    <% if can? :update, Produto %>
      <div class="col-md-1">
        <%= link_to 'Editar', edit_produto_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Voltar', produtos_path, class: 'btn btn-primary' %>
      </div>
    <% end %> 
  </div> 
</div>

