.grupo-entrada {
  margin-bottom: 15px;
}

  .grupo-entrada > label {
      display: block;

      font-weight: bold;
  }

  .campo {
    display: block;
    width: 100%;
    height: 2.8em;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #fff;

    font-size: 1.4rem;
}