<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @line_item.produto %>
</p>

<p>
  <strong>Reserva:</strong>
  <%= @line_item.reserva %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
